<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="{{ asset("css/mdb.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/mdb.rtl.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/base.css") }}">
    <link rel="stylesheet" href="{{ asset("css/toasts.css") }}">
    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-grey">
{% set route_name = app.request.attributes.get('_route') %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-5-strong">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MyTube</a>

            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == "app_dashboard" %} active {% endif %}"
                               aria-current="page" href="{{ path("app_dashboard") }}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == "app_upload" %} active {% endif %}"
                               aria-current="page"
                               href="{{ path("app_upload") }}">Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == "app_links" %} active {% endif %}"
                               aria-current="page"
                               href="{{ path("app_links") }}">Links</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == "app_user_list" %} active {% endif %}"
                               aria-current="page"
                               href="{{ path("app_user_list") }}">Users</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle d-flex align-items-center"
                                href="#"
                                id="navbarDropdownMenuLink"
                                role="button"
                                data-mdb-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <img
                                    src="{{ is_granted('ROLE_USER')
                                    ? path("app_user_profile_picture", {"username": app.user.username})
                                    : asset("images/user.png") }}"
                                    class="rounded-circle avatar"
                                    alt=""
                            />
                        </a>
                        <ul class="dropdown-menu avatar-dropdown" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">My profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="{{ path("app_logout") }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}
</div>
<script src="{{ asset("js/mdb.min.js") }}"></script>
<script src="{{ asset("js/clipboard.js") }}"></script>
<script src="{{ asset("js/toasts.js") }}"></script>
<script src="{{ asset("js/ajax.js") }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
