{% extends 'base.html.twig' %}

{% block title %}Links{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/links.css") }}">
{% endblock %}

{% block body %}
    <div class="video">
        <a href="{{ path("app_watch_page", {
            linkId: constant("App\\Controller\\WatchController::OWNER_LINK_ID"),
            videoId: video.customId
        }) }}" target="_blank">
            <img alt="Thumbnail" src="{{ path("app_watch_thumbnail", {
                linkId: constant("App\\Controller\\WatchController::OWNER_LINK_ID"),
                videoId: video.customId
            }) }}"/>
            {{ video.name }}
        </a>
    </div>

    {{ form(form) }}
{% endblock %}